<div class="video-container">
  <div class="buttons-container">
    <div class="buttons">
      <div [ngClass]="{button: true, selected: one}" (click)="handleView('one')">Apartament 2 camere</div>
      <div [ngClass]="{button: true, selected: two}" (click)="handleView('two')">Apartament 3 camere<br>varianta 1</div>
      <div [ngClass]="{button: true, selected: three}" (click)="handleView('three')">Apartament 3 camere<br>varianta 2</div>
    </div>
  </div>
  <div class="video">
    <iframe @animateVideo class="play" *ngIf="one" frameborder="0" src="https://www.gizmo3dstudio.com/BlocRomanCiorogariu/Apartament_1/Apartament1.html"></iframe>
    <iframe @animateVideo class="play" *ngIf="two" frameborder="0" src="https://www.gizmo3dstudio.com/BlocRomanCiorogariu/Apartament_2/Apartament2.html"></iframe>
    <iframe @animateVideo class="play" *ngIf="three" frameborder="0" src="https://www.gizmo3dstudio.com/BlocRomanCiorogariu/Apartament_3/Apartament3.html"></iframe>
  </div>
</div>
