.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    margin: 0 6rem;
    padding-top: 5.5rem;
    width: 80%;


    .image {
      margin: 10px;
      outline: 2px solid rgb(31, 30, 30);
      outline-offset: -2px;
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.05);
      }
    }




}

.modal {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 100vh;
  z-index: 210;
  padding: 3rem 3rem;
  text-align: center;
  .image-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    width: 80%;
    height: 80%;
    margin: auto;
    .selectedImage {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .buttons {
    .left {
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 10rem;
      .icon {
        transform: scale(2);
      }
    }
    .right {
      position: absolute;
      cursor: pointer;
      top: 50%;
      right: 10rem;
      .icon {
        transform: scale(2);
      }
    }
  }
}

// .overlay {
//   position: fixed;
//   z-index:100;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   outline: 0;
//   background-color: rgba(255, 255, 255, 0.39);
// }

