<div class="container" @animateItems>
  <div *ngFor="let image of images; let i = index" class="wrapper">
    <div (click)="modalView(i)">
      <img src="{{image.src}}" class="image">
    </div>
  </div>
</div>
<!-- <div class="overlay" *ngIf="modalOpen"></div> -->
<div *ngIf="modalOpen" class="modal">
  <div class="image-container" @animateModal>
    <img src="{{selectedImage.src}}" class="selectedImage" (click)="modalOpen=!modalOpen">
  </div>
    <div class="buttons">
      <div class="left" (click)="showPrevious()"><mat-icon class="icon">arrow_back_ios</mat-icon></div>
      <div class="right" (click)="showNext()"><mat-icon class="icon">arrow_forward_ios</mat-icon></div>
    </div>
</div>
